// Header
.ba-dashboard__header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid var(--ba-dashboard-border-color);
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 280px;
    border-right: 1px solid var(--ba-dashboard-border-color);
    padding: 15px 24px 15px;
    box-sizing: border-box;
    img {
      height: 25px;
    }
  }
  &__content {
    display: flex;
    gap: 24px;
    align-items: center;
    height: 100%;
    padding-right: 32px;
  }
  &__info {
    display: flex;
    gap: 10px;
    align-items: center;
    &__avatar {
      width: 46px;
      height: 46px;
      border-radius: 100%;
    }
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      color: var(--ba-dashboard-title-color);
    }
    &__subtitle {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.6;
      color: var(--ba-dashboard-body-color);
    }
  }
  &__action {
    display: flex;
    gap: 12px;
    align-items: center;
    &__wrapper {
      position: relative;
      width: 100%;
    }
    &__btn {
      display: flex;
      gap: 10px;
      align-items: center;
      height: 36px;
      padding: 0 12px;
      border-radius: 4px;
      transition: all ease 0.3s;
      &.active,
      &:hover {
        color: var(--ba-dashboard-white-color);
        background: var(--ba-dashboard-primary-color);
        box-shadow: var(--ba-dashboard-box-shadow);
        svg path {
          fill: var(--ba-dashboard-white-color);
        }
      }
    }
    &__dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 150px;
      padding: 10px 0;
      background-color: var(--ba-dashboard-section-bg-color);
      box-shadow: var(--ba-dashboard-box-shadow);
      border-radius: 6px;
    }
    &__link {
      width: 100%;
      height: 30px;
      display: inline-flex;
      gap: 6px;
      align-items: center;
      padding: 0 15px;
      color: var(--ba-dashboard-body-color);
      box-sizing: border-box;
      &:not(:last-child) {
        border-bottom: 1px solid var(--ba-dashboard-border-color);
      }
      &:hover {
        color: var(--ba-dashboard-primary-color);
      }
    }
  }
}
