.ba-dashboard__content__section__data table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    line-height: 1.7;
    font-weight: 400;
    font-size: 14px;
  }
  th {
    width: auto;
    min-width: 120px;
    height: 40px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    padding: 0 16px;
    color: var(--ba-dashboard-title-color);
    background-color: var(--ba-dashboard-section-border-color);
    box-sizing: border-box;
    &:first-child {
      text-align: left;
      border-radius: 8px 0 0 0;
    }
    &:last-child {
      width: 160px;
      text-align: right;
      border-radius: 0 8px 0 0;
    }
    .bs-dashboard-tooltip {
      top: 4px;
      margin-left: 6px;
    }
    &.description {
      width: 60%;
      text-align: left;
    }
  }
  tbody {
    tr {
      &:last-child {
        td {
          &:first-child {
            border-radius: 0 0 0 8px;
          }
          &:last-child {
            border-radius: 0 0 8px 0;
          }
        }
      }
    }
  }
  td {
    height: 40px;
    padding: 0 16px;
    text-align: center;
    color: var(--ba-dashboard-dark-color);
    border-top: 1px solid var(--ba-dashboard-section-border-color);
    border-bottom: 1px solid var(--ba-dashboard-section-border-color);
      &:first-child {
      border-left: 1px solid var(--ba-dashboard-section-border-color);
    }
    &:last-child {
      border-right: 1px solid var(--ba-dashboard-section-border-color);
    }
    &.plugin-name {
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    a {
      display: flex;
      gap: 2px;
      align-items: center;
      color: var(--ba-dashboard-primary-color);
      &.action {
        justify-content: end;
      }
    }
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    &.description {
      width: 60%;
      text-align: left;
    }
  }
}