:root {
  --ba-dashboard-primary-color: #006eff;
  --ba-dashboard-secondary-color: #00429b;
  --ba-dashboard-dark-color: #000000;
  --ba-dashboard-white-color: #ffffff;
  --ba-dashboard-title-color: #4b5563;
  --ba-dashboard-body-color: #6b7280;
  --ba-dashboard-gray-color: #98a2b3;
  --ba-dashboard-menu-color: #062a5d;
  --ba-dashboard-input-color: #475467;
  --ba-dashboard-menu-border-color: #aee2ff;
  --ba-dashboard-menu-bg-color: #eaf8ff;
  --ba-dashboard-border-color: #d0d5dd;
  --ba-dashboard-section-border-color: #eaecf0;
  --ba-dashboard-section-bg-color: #eaecf0;
  --ba-dashboard-input-bg-color: #f2f4f7;
  --ba-dashboard-success-color: #00854e;
  --ba-dashboard-danger-color: #fb3d38;
  --ba-dashboard-warning-color: #ff9e2f;
  --ba-dashboard-info-color: #009ae5;

  --ba-dashboard-primary-transparent: #f2ecff;
  --ba-dashboard-success-transparent: #96eec2;

  --ba-dashboard-box-shadow: 0 1px 2px 0 #1018280d;
  --ba-dashboard-section-box-shadow: 0 2px 2px 0 #00000014;

  --ba-dashboard-font-family: "Inter", sans-serif;
}
