@import "variables";
@import "font-face";
@import "global";
@import "header";
@import "sidebar";
@import "footer";
@import "content";
@import "button";
@import "tab";
@import "chart";
@import "badges";

.ba-menu-page-wrapper {
  margin-left: -20px;
  background: #fff;
}

.ba-dashboard__wrapper {
  display: flex;
}
